<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Sitecore.Feature.LayoutSimulator.RoutePrefix" value="services/layoutsimulator" />
      <setting name="Sitecore.Feature.LayoutSimulator.QueryStringParameterKey.SimulatorLayoutId" value="simulatorid" />
      <setting name="Sitecore.Feature.LayoutSimulator.LayoutDefinitionCache.MaxSize" value="256KB" />
      <setting name="Sitecore.Feature.LayoutSimulator.LayoutDefinitionCache.MaxSize" value="256KB" />
    </settings>
    <pipelines>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
          type="Sitecore.Feature.LayoutSimulator.Pipelines.Initialize.RegisterHttpRoutes, Sitecore.Feature.LayoutSimulator" />
      </initialize>
      <mvc.buildPageDefinition>
        <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']"
          type="Sitecore.Feature.LayoutSimulator.Pipelines.Response.BuildPageDefinition.ProcessSimulatedLayoutDefinition, Sitecore.Feature.LayoutSimulator" />
      </mvc.buildPageDefinition>
      <LayoutSimulator.mvc.buildSimulatedLayout>
        <processor type="Sitecore.Feature.LayoutSimulator.Pipelines.Response.BuildSimulatedLayout.ValidateData, Sitecore.Feature.LayoutSimulator" />
        <processor type="Sitecore.Feature.LayoutSimulator.Pipelines.Response.BuildSimulatedLayout.HydrateLayoutDefinition, Sitecore.Feature.LayoutSimulator" />
        <processor type="Sitecore.Feature.LayoutSimulator.Pipelines.Response.BuildSimulatedLayout.GenerateRenderingList, Sitecore.Feature.LayoutSimulator" />
      </LayoutSimulator.mvc.buildSimulatedLayout>    
    </pipelines>
    <commands>
      <command name="layoutsimulator:copyitemlayout" type="Sitecore.Feature.LayoutSimulator.Commands.CopyItemLayout, Sitecore.Feature.LayoutSimulator" />
    </commands>
  </sitecore>
</configuration>