<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="Rainbow.SFS.SerializationFolderPathMaxLength" value="150" />
      <setting name="Rainbow.SFS.MaxItemNameLengthBeforeTruncation" value="50" />
    </settings>
    <unicorn>
      <configurations>
        <configuration name="Foundation.LayoutSimulator" description="Foundation Layout Simulator" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(layoutSimulatorSourceFolder)\feature\layoutsimulator\serialization\foundation" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Foundation.LayoutSimulator.Settings.Feature" database="master" path="/sitecore/system/Settings/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.LayoutSimulator.Templates.Feature" database="master" path="/sitecore/templates/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.LayoutSimulator.Layouts.Feature" database="master" path="/sitecore/layout/layouts/Feature">
              <exclude children="true" />
            </include>
            <include name="Foundation.LayoutSimulator.Renderings.Feature" database="master" path="/sitecore/layout/renderings/Feature">
              <exclude children="true" />
            </include>
          </predicate>
        </configuration>
        <configuration name="Feature.LayoutSimulator" description="Feature Layout Simulator" dependencies="Foundation.LayoutSimulator" patch:after="configuration[@name='Foundation.LayoutSimulator']">
          <targetDataStore physicalRootPath="$(layoutSimulatorSourceFolder)\feature\layoutsimulator\serialization\feature" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!-- master -->
            <include name="Feature.LayoutSimulator.Settings" database="master" path="/sitecore/system/Settings/Feature/LayoutSimulator" />
            <include name="Feature.LayoutSimulator.Templates" database="master" path="/sitecore/templates/Feature/LayoutSimulator" />
            <include name="Feature.LayoutSimulator.Layouts" database="master" path="/sitecore/layout/layouts/Feature/LayoutSimulator" />
            <include name="Feature.LayoutSimulator.Renderings" database="master" path="/sitecore/layout/renderings/Feature/LayoutSimulator" />
            <include name="Feature.LayoutSimulator.Content.DefaultHostPage" database="master" path="/sitecore/content/SimulationHost" />
            <include name="Feature.LayoutSimulator.Content.DefaultBuilderPage" database="master" path="/sitecore/content/SimulationBuilder" />
            <!-- core -->
            <include name="Feature.LayoutSimulator.Core.Ribbon.Chunk" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Layout Simulator" />
            <include name="Feature.LayoutSimulator.Core.Ribbon.Strip" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Presentation/Layout Simulator" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>