<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <!-- ROUTE PREFIX 
           This setting prefixes all registered routes used by Layout Simulator with the given value.
           Default: "services/layoutsimulator"
      -->
      <setting name="Sitecore.Feature.LayoutSimulator.RoutePrefix" value="services/layoutsimulator" />
      <!-- SIMULATOR LAYOUT ID 
           Internally, Layout Simulator uses the given query string parameter key when responding to a
           simulate request. If this key collides with one of your own (unlikely) then you may change
           it here.
           Default: "simulatorid"
      -->
      <setting name="Sitecore.Feature.LayoutSimulator.QueryStringParameterKey.SimulatorLayoutId" value="simulatorid" />
      <setting name="Sitecore.Feature.LayoutSimulator.LayoutDefinitionCache.MaxSize" value="256KB" />
    </settings>
    <pipelines>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']"
          type="Sitecore.Feature.LayoutSimulator.Pipelines.Initialize.RegisterHttpRoutes, Sitecore.Feature.LayoutSimulator" />
      </initialize>
      <mvc.buildPageDefinition>
        <processor patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.BuildPageDefinition.ProcessXmlBasedLayoutDefinition, Sitecore.Mvc']"
          type="Sitecore.Feature.LayoutSimulator.Pipelines.Response.BuildPageDefinition.ProcessSimulatedLayoutDefinition, Sitecore.Feature.LayoutSimulator" />
      </mvc.buildPageDefinition>
      <LayoutSimulator.mvc.buildSimulatedLayout>
        <processor type="Sitecore.Feature.LayoutSimulator.Pipelines.Response.BuildSimulatedLayout.ValidateData, Sitecore.Feature.LayoutSimulator" />
        <processor type="Sitecore.Feature.LayoutSimulator.Pipelines.Response.BuildSimulatedLayout.HydrateLayoutDefinition, Sitecore.Feature.LayoutSimulator" />
        <processor type="Sitecore.Feature.LayoutSimulator.Pipelines.Response.BuildSimulatedLayout.GenerateRenderingList, Sitecore.Feature.LayoutSimulator" />
      </LayoutSimulator.mvc.buildSimulatedLayout>    
    </pipelines>
    <commands>
      <command name="layoutsimulator:copyitemlayout" type="Sitecore.Feature.LayoutSimulator.Commands.CopyItemLayout, Sitecore.Feature.LayoutSimulator" />
    </commands>
    <api>
      <services>
        <configuration type="Sitecore.Services.Infrastructure.Configuration.ServicesConfiguration, Sitecore.Services.Infrastructure">
          <allowedControllers hint="list:AddController">
            <allowedController desc="LS_LayoutSimulatorController">Sitecore.Feature.LayoutSimulator.Controllers.LayoutSimulatorController, Sitecore.Feature.LayoutSimulator</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>