html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

.form-container {
    padding: 20px;
}

.loading-container {
    padding: 20px;
}

.field-label {
    font-size: 1.25em;
    font-weight: bold;
}

.form-field {
    width: 80%;
    max-width: 80%;
}

.heading {
    font-size: 2.5em;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}