@model Sitecore.Mvc.Presentation.RenderingModel

<p class="heading center">This is a demo rendering!</p>
<div class="image-container">
    <img class="center" src="/Assets/LayoutSimulator/double-rainbow.jpg">
</div>